.logo-nav {
  width: 10em;
  display: inline-block;
}

.logo-lg {
  width: 15em;
  display: inline-block;
  position: absolute;
  top: 5%;
  right: 10%;
}

.navmovile {
  padding: 10px 10px 0 10px;
  border-bottom: 3px solid black;
}

i.fa.fa-bars {
    font-size: 40px;
}

.navdesktop {
  margin-top: 7em;
}

@media only screen and (min-width: 1200px) {
  .navdesktop {
    margin-top: 10em;
  }

  .logo-lg {
    width: 19em;
    right: 17%;
  }
}
