<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Club Canino Puno</title>
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto|Indie+Flower" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <header class="container">
    <div class="d-none d-block d-sm-block d-md-block d-lg-none">
      <nav class="navmovile hidden-lg-up">
        <div class="row cont-menu">
          <div class="logo-nav">
            <img src="../assets/images/logo.png" class="img-fluid" alt="Logo">
          </div>
          <div class="col-6 col-md-8 form-inline my-2 my-lg-0 search justify-content-end">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" id="search-toggle">
            <button class="btn btn-outline-success search-open my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
          </div>
          <button class="col-2 col-md-1 navbar-toggler" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fa fa-bars color-green" aria-hidden="true"></i>
          </button>
        </div>
        <div class="row">
        </div>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="nav nav-tabs">
            <li class="nav-item active">
              <a class="nav-link color-green style" href="#" role="tab" data-toggle="tab"><i class="fa fa-home icon-menu" aria-hidden="true" data-id="home-art"></i>Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active color-green style" href="#articles" role="tab" data-toggle="tab"><i class="fa fa-users icon-menu" aria-hidden="true"></i>Artículos</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <section class="container d-none d-lg-block d-xl-block">
    <ul class="col-lg-8 nav nav-tabs navdesktop" role="tablist">
      <li class="nav-item">
        <a class="nav-link color-green style" href="#home" role="tab" data-toggle="tab"><i class="fa fa-home icon-menu" aria-hidden="true" data-id="home-art"></i>Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active color-green style" href="#articles" role="tab" data-toggle="tab"><i class="fa fa-users icon-menu" aria-hidden="true"></i>Artículos</a>
      </li>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
      </form>
    </ul>
    <div class="logo-lg">
      <img src="../assets/images/logo.png" class="img-fluid" alt="Logo">
    </div>
  </section>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane in active" id="articles">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-3 col-md-2">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active color-green style2" href="#comportation">Comportamiento</a>
              </li>
              <li class="nav-item">
                <a class="nav-link color-green style2" href="#education">Educación</a>
              </li>
              <li class="nav-item">
                <a class="nav-link color-green style2" href="#problems">Problemas</a>
              </li>
            </ul>
          </div>
          <div class="col-12 col-sm-9 col-md-10">
            <div class="card-body in active" id="comportation">
              <h3 class="card-title color-green">El exceso de mimo y la humanificación</h3>
              <h6 class="card-subtitle mb-2 text-muted">¿Por qué es malo darle mucho mimo a mi perro?</h6>
              <p class="card-text text-justify">Porque tu perro no es un ser humano, es sólo un perro. Son animales con otras características que nosotros.
              No responden de la misma manera al trato humano como una persona. Por mucho que queramos, nunca llegarán a ser como nosotros.

              Quiero dejar bien claro que hay que dar cariño y afecto a los perros.
              Lo importante es que sepas dosificarlo y encontrar los momentos adecuados para dárselo. Igual de importante es saber corregir correctamente, bien dosificado y en el momento oportuno.

              No se debe olvidar nunca una norma básica para la buena convivencia con un perro: donde no hay disciplina tampoco puede haber cariño.

              Educar a un perro no quiere decir darle muchos besos y permitirle muchos caprichos sin exigir nada a cambio. Desobediencia en general, hiperactividad, no poder quedarse solo en casa, no querer comer comida canina, miedos y agresividades excesivas tienen muy a menudo su origen en lo mismo, el exceso de mimo y la humanificación del perro. La mayor parte de las víctimas de mordeduras de perros son los propios dueños.

              Un comentario muy frecuente es: "No lo entiendo, le hemos dado todo lo que necesitaba: la mejor comida, tres paseos diarios, un montón de cariño, duerme en mi cama, se sienta en el sofá a mi lado para ver la tele y le damos todo lo que él quiere. Vamos, vive como un rey y mira lo que me ha hecho". Nunca me cansaré de decir que el perro es el producto de su entorno, del trato que recibe. Estos problemas podrán tener como consecuencia que el animal no puede ser soportado más tiempo, acabando en la calle, la perrera municipal, sacrificado por un Veterinario o, en el mejor de los casos, reeducado con ayuda de un Educador Canino.

              El perro es un animal social, lo cual quiere decir que vive en grupos o jaurías. Para él, su familia humana es una jauría de perros, no de personas; sus dueños son perros, te ve como un congénere. Esto implica que espera de ti comportamiento canino y que lo trates de forma canina.

              El perro sólo puede ser lo que es, un ser limitado que no entiende tu idioma, ni siquiera tus gestos. Él ha nacido para vivir como perro, comportándose como tal y relacionándose con sus congéneres. Es así porque tiene como antepasado al lobo. Aunque su aspecto exterior ha cambiado, por dentro sigue siendo muy parecido: su forma de ser, sus instintos y lenguaje no han cambiado. Por eso necesita que tú entiendas esta forma de ser y que aprendas a comunicarte con él, de no ser así no llegará a entenderte bien. Si no se entienden, ¿cómo van a ser capaces de convivir de forma satisfactoria?
              Todos conocemos algún perro mimado en exceso que no causa ningún problema. En realidad, resulta casi siempre que algún que otro "problemilla" suele darse. Es cierto que no todos los perros tienen el mismo carácter y, por lo tanto, no responden de la misma forma al mismo trato. Tratar a tu perro como tal es nada menos que una obligación, su forma de ser te lo exige.

              No responder a esta necesidad que él tiene es como negarle lo que quizá, más que cualquier otra cosa, necesita para ser feliz, un jefe de jauría responsable, correcto y muy equilibrado.
              </p>
            </div>
            <div class="card-body" id="education">
              <h3 class="card-title color-green">El premio en la educación del perro</h3>
              <h6 class="card-subtitle mb-2 text-muted">¿Qué es premiar? Es conectar un estímulo positivo a un acto.</h6>
              <p class="card-text text-justify">El premio es el instrumento más poderoso que tenemos para enseñar a nuestro perro lo que queremos de él. Por lo tanto conviene saber qué es y cómo utilizarlo correctamente. Para premiar disponemos de una amplia gama de estímulos que podemos aplicar, tales como golosinas, juego, caricias, palabras agradables, atenciones, paseos..., todo lo que al perro le puede gustar o interesar.
              Cuando intentes enseñar algo a tu perro, como su jefe que eres, deberías conseguir que lo aprenda para que te obedezca cuando quieras. Así conseguirás que lo haga también cuando no le apetezca o haya otra cosa que le interese más. Por eso pienso que utilizar golosinas y / o juegos no son los instrumentos más adecuados. Mucho mejor es utilizar tus caricias, tu voz y tu atención como premio. Las golosinas y los juguetes no tienen que ver contigo. Lo que le interesa al perro son la galletita y el juguete, no tú. Utilizándolos aprenderá que sentándose puede ganarse estos objetos. Mientras la galletita o la pelota están presentes, obedece cuando a él le interesa. Cuando no hay galleta o no le interesa, no obedece. No creas que no le puedes dar nunca una golosina, de vez en cuando algo rico no perjudica nada.
              Utilizando como premio tus caricias y palabras con un tono agradable le darás algo que está directamente relacionado contigo. Te obedecerá porque sabrá que tú lo quieres así. Es mucho más agradable tener un perro que obedece porque "trabaja" para ti. Un perro que "trabaja" para ganarse una galletita suele tener mucho menos interés en su dueño que uno que recibe palabras y caricias como premio. Tendrá su interés en la galletita y la pelotita, que no es lo mismo que tú. Utilizo la palabra trabajar porque para un perro obedecer es trabajar.

              Es muy importante que apliques el premio en el mismo instante en que tu perro hace lo que quieres, p. ej. en el justo momento en que su trasero toca el suelo cuando intentas enseñarle a sentarse. ¡Él relaciona lo que le haces con lo que él hace en ese mismo instante! Una característica importante del perro es que vive muy en el momento. Si él se sienta y no lo premias en ese momento, sino 3 segundos más tarde cuando empieza a mirar un pájaro, le estás enseñando que te gusta que mire los pájaros, lo cual a largo plazo puede convertirse en un problema de comportamiento, un perro con una obsesión por los pájaros.

              Nunca se te debe olvidar que siempre cuando haces algo agradable a tu perro le estás enseñando que te gusta lo que está haciendo en ese instante, tanto cuando se te sube a las piernas como cuando se sienta delante de ti. Muchas conductas no deseadas han sido enseñadas aplicando algún tipo de premio en un momento inoportuno. Evita que te pase esto siendo siempre consciente de lo que haces, de la interacción entre tú y tu perro. Él aprende sorprendentemente rápido, tanto que aprende antes de que te des cuenta de que lo aprendió.

              Después del período de aprendizaje es muy importante que sigas aplicando el premio siempre que te obedezca, pero con menor frecuencia. Para que aprenda algo tienes que premiarlo cada vez que lo haga, pero una vez que lo tiene aprendido debes empezar a premiarlo de manera intermitente, a veces si pero otras no. Prémialo las veces necesarias para que no pierda el interés, para que siga viendo que de vez en cuando le "toca".

              Para enseñar al perro lo que sí y lo que no queremos de él es tan importante que sepas premiar como corregirlo correctamente.
              </p>
            </div>
            <div class="card-body" id="problems">
              <h3 class="card-title color-green">Normas para una convivencia correcta</h3>
              <h6 class="card-subtitle mb-2 text-muted">Normas básicas para la educación del perro</h6>
              <p class="card-text">
                <i class="fa fa-paw" aria-hidden="true"> </i>
                SÓLO PUEDE SER UN PERRO
                Tu perro es un animal con ciertas características: sólo puede entenderte si te comportas como otro perro. Él no tiene capacidad para portarse como un ser humano: tú sí la tienes para comportarte como otro perro. Tratarlo como si fuera un humano provoca problemas de comunicación y conflictos.
              </p>
              <p class="card-text">
                <i class="fa fa-paw" aria-hidden="true"></i>
                NO DEBE SER UN JUGUETE PARA LOS NIÑOS
                Muchos perros sufren malos tratos de los niños con los que viven. Para evitar problemas mayores es aconsejable enseñar a tus hijos cómo deben tratar al perro. ¡La mayor parte de las víctimas de mordeduras de perro son los niños con los que conviven!
              </p>
              <p class="card-text">
                <i class="fa fa-paw" aria-hidden="true"></i>
                DEBES PENSAR COMO UN JEFE DE MANADA
                Los perros tienen un fuerte sentido jerárquico. Por instinto, necesitan que en su manada haya un jefe. Cuando no lo hay, se ven obligados a asumir este puesto. De un perro hecho jefe de la casa se puede esperar cualquier tipo de problema: desobediencia, nerviosismo, mordiscos... Un jefe es un individuo fuerte, equilibrado y muy consecuente.
              </p>
              <p class="card-text">
                <i class="fa fa-paw" aria-hidden="true"></i>
                UN TRATO COHERENTE
                Debes asegurarte que todos los que tratan con tu perro le permitan y prohiban las mismas cosas y usen las mismas órdenes que tú. De no ser así, lo confundiréis. Si uno de vosotros le permite algo que le gusta, mientras que otro se lo prohibe, podéis estar creando un conflicto serio.
              </p>
              <p class="card-text">
                <i class="fa fa-paw" aria-hidden="true"></i>
                LOS PERROS ENTRE ELLOS NO SE PEGAN
                Por lo tanto insistimos en que nosotros tampoco debemos pegarles, ni con las manos ni con objetos, si queremos que nos entiendan correctamente.
              </p>
              <p class="card-text">
                <i class="fa fa-paw" aria-hidden="true"></i>
                NECESITA CUIDADOS SANITARIOS DURANTE TODA SU VIDA
                Su buena salud depende de ti. Hay muchos peligros que le amenazan. Cuanto mayor sea, más probable será que padezca algún problema. Un buen veterinario te podrá asesorar sobre todo lo relacionado con los cuidados que precise.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="container bg-green">
    <div class="row">
      <div class="col-12 box-footer">
        <div class="col-12 col-sm-12 offset-sm-1 col-md-8 col-lg-4 offset-lg-8">
          <a href="mailto:Support@clubcaninopuno.org" class="icon-footer"><i class="fa fa-envelope-o" aria-hidden="true"></i><span>Support@clubcaninopuno.org</span></a>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12  offset-sm-1 col-md-8 col-lg-4 offset-lg-8">
            <a href="#" class="icon-footer">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>971125352</span>
              <span>943015157</span>
            </a>
          </div>
          <div class="col-12 col-sm-12 offset-sm-1 col-md-4 col-lg-4 offset-lg-8">
            <a href="https://web.facebook.com/ClubCaninoPuno/" class="icon-footer"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://chat.whatsapp.com/invite/AmatTTnbhjmHKBtAS5K7tV" class="icon-footer"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
          </div>
          </div>
        </div>
      </div>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="../vendors/bootstrap/js/tether-1.4.0.min.js"></script>
  <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../js/app.js"></script>
</body>
</html>
